/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    background-color: #ddd;
    border: none;
}; */

input{
    background-color: #ddd;
    border: none;
    outline: none
};